<!DOCTYPE html>
<html lang = "en">
	<head>
		<meta charset = "UTF-8">
		<title>Show</title>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

		
		<meta name = "description" content = "User Dashboard"/>
		<meta name = "author" content = "Daniel Cleaves"/>
		<link rel = "stylesheet" type= "text/css" href = "/css/bootstrap.css"/>
	</head>
	<body>
			<div class = "container row-md-3">
				<h1>Show User</h1>
	  				<h2>Name</h2>
	  				<p><%=user.name %></p>
	  				<h2>Email</h2>
	  				<p><%=user.email %></p>
	  				<h2>Favorite Color</h2>
	  				<p><%=user.color%></p>
				</div>

			</form>
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	</body>
</html>